* {
  box-sizing: border-box;
}

.fheading {
  text-align: center;
  position: fixed;
  background-color: black;
  width: 100%;
  margin: 0px 0px;
  padding: 5px 20px 15px;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.fheading h1 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "Kalam", sans-serif;
  margin-bottom: 0;
}

.contact {
  display: inline;
  color: rgb(245, 184, 18);
  font-size: 15px;
  font-family: "Kalam", sans-serif;
}

#firstbox {
  width: 80%;
  margin: 150px auto 0px;
  position: relative;
  border: 5px solid rgb(82, 45, 4);
}

.box {
  width: 80%;
  margin: 30px auto 0px;
  position: relative;
  border: 5px solid rgb(82, 45, 4);
}

#firstboxheading {
  color: rgb(82, 45, 4);
  font-size: 30px;
  font-family: "Suez One", sans-serif;
  text-transform: uppercase;
  position: relative;
  margin: 5px 5px 5px 5px;
  text-decoration: underline;
}

#secondboxheading {
  color: rgb(82, 45, 4);
  font-size: 30px;
  font-family: "Suez One", sans-serif;
  text-transform: uppercase;
  position: relative;
  margin: 5px 5px 200px 5px;
  text-decoration: underline;
}

#thirdboxheading {
  color: rgb(82, 45, 4);
  font-size: 30px;
  font-family: "Suez One", sans-serif;
  text-transform: uppercase;
  position: relative;
  margin: 5px 5px 200px 5px;
  text-decoration: underline;
}

#lastbox {
  width: 80%;
  margin: 30px auto 100px;
  position: relative;
  border: 5px solid rgb(82, 45, 4);
}

.colourbox {
  display: inline-block;
  background-color: antiquewhite;
  position: relative;
  top: 0px;
  margin: 30px 10px 30px;
  width: 12%;
}

.insidecolourbox {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: "Gloria Hallelujah", sans-serif;
}

#accumulatedivs {
  text-align: center;
}

#black {
  background-color: #000000;
  color: aliceblue;
}

#gold {
  background-color: #af910c;
  color: rgb(0, 0, 0);
}

#maroon {
  background-color: #460707;
  color: aliceblue;
}

#darkblue {
  background-color: #020b41;
  color: aliceblue;
}

#royalpurple {
  background-color: #340646;
  color: aliceblue;
}

#darkpink {
  background-color: #810d55;
  color: aliceblue;
}

footer {
  text-align: center;
  position: fixed;
  background-color: black;
  width: 100%;
  margin: 0px 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

#footercontact {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "Kalam", sans-serif;
  margin-bottom: 0;
  color: rgb(245, 184, 18);
  padding: 0px 0px 7px 0px;
}
